[Desktop Entry]
Name=Picture Viewer
StartupNotify=true
Type=Application
Icon=com.github.mi19a009.PictureViewer
Exec=com.github.mi19a009.PictureViewer
X-Ubuntu-Gettext-Domain=github-mi19a009-e
